# Node modules
node_modules/

# Environment files
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Uploads (IMPORTANT)
uploads/

# Temp files
tmp/
temp/

# Cache
.cache/

# Misc
*.local